@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    /* font-family: "Poiret One", serif; */
    font-family: "Montserrat", serif !important;
    font-weight: 300;
    font-optical-sizing: auto;
    box-sizing: border-box;

}

.montserrat {
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto;
}

.outfit {
  font-family: 'Outfit';
}

