@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Target autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #1e293b !important; /* Same as bg-slate-800 */
  color: white !important; /* Maintain text color */
  box-shadow: 0 0 0px 1000px #1e293b inset !important; /* Force background color */
  -webkit-text-fill-color: white !important; /* Ensure text remains white */
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
  caret-color: white !important; /* Ensures cursor is visible */
}

input:-moz-placeholder {
  color: white !important;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}



* {
    /* font-family: "Poiret One", serif; */
    /* font-family: "Montserrat", serif !important; */
    /* font-family: "Roboto", sans-serif; */
    /* font-family: "Roboto Mono", monospace; */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    font-weight: 500;

}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-mono{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif !important;
  font-optical-sizing: auto;
}

.outfit {
  font-family: 'Outfit';
}

.react-select-container .react-select__control:hover {
  border-color: #3b82f6 !important;
}

.react-select-container .react-select__control--is-focused {
  border-color: #3b82f6 !important;
  box-shadow: 0 0 0 1px #3b82f6 !important;
}

.react-select__input-container::placeholder {
  font-weight: 400;
}


.custom-scrollbar {
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: #334155 #1e293b;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;  /* width of the entire scrollbar */
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;  /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;  /* color of the scroll thumb */
  border-radius: 20px;  /* roundness of the scroll thumb */
}

